.form_btn:hover {
    background-color: var(--primary);
}

.form_btn span {
    align-items: center;
    gap: 1em;
    color: #fff;
}

.loading_icon {
    width: 1.25em !important;
    height: 1.25em !important;
}

.link_btn {
    background-color: var(--primary);
    color: #fff;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    text-transform: none;
    border-radius: 0.25em;
    padding: 0.25em 1.5em;
}
