.editable_field {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    grid-template-areas: 'title value';
    align-items: baseline;
    gap: 0.5em;
}

.title {
    grid-area: title;
}

.value {
    grid-area: value;
}
